In [1]:
import pickle

In [8]:
from datetime import timedelta

In [2]:
with open('scaler.pkl', 'rb') as f: 
    scaler=pickle.load(f)
    
with open('lr.pkl', 'rb') as f: 
    lr=pickle.load(f)

In [3]:
import pandas as pd

In [11]:
df=pd.read_csv('Resources/training_data.csv', index_col='Datetime', parse_dates=True)
df.head()

                                FTXN         GLD         SPY    ^SPGSSOTR
Datetime
2021-05-25 09:30:00-04:00  16.750000  177.212997  419.459991  5615.495117
2021-05-25 10:30:00-04:00  16.570000  177.139999  418.535004  5527.352051
2021-05-25 11:30:00-04:00  16.610001  177.339996  419.274994  5538.370117
2021-05-25 12:30:00-04:00  16.629999  177.699997  419.095001  5522.761230
2021-05-25 13:30:00-04:00  16.559999  177.699997  418.329987  5555.814941

In [29]:
random_sample=df.sample(1)
next_hour=random_sample.index+timedelta(hours=1)
actual=df.loc[next_hour, 'SPY'].values

input_scaled=scaler.transform(random_sample.values)

prediction=lr.predict(input_scaled)

print(f'Predict: {prediction} vs Actual: {actual}.')

Predict: [408.96042352] vs Actual: [409.66500854].

/Users/alexdelao/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(